<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="../stylesheet.css">
  <link rel="stylesheet" href="../responsive.css">
  <link rel="stylesheet" href="../fonts.css">
  <link rel="stylesheet" type="text/css" href="{{ site.root }}blog.css"/>
  <script defer src="../theme.js"></script>
</head>
<body>
  <div class="page">
    <header class="header max-width">
        {% block header %}
        {% if page.title %}
        <a class="logo" href="{{ site.root }}"><span class="main-tag">{{ site.title }}</span></a>
        {% else %}
        <a class="logo" href="{{ site.root }}"><span class="main-tag">{{ site.title }}</span></a>
        {% endif %}
        {% endblock %}
        <nav class="nav">
          <a class="button" href="../index.html">Home</a>
          <div class="nav-divider"></div>
          <div class="theme-switch">
            <label for="theme-select" class="sr-only">Theme</label>
            <select id="theme-select">
              <option value="dark">Dark &#x1F31A;</option>
              <option value="light">Light &#x1F31E;</option>
              <option value="darkred">Red &#x1F352;</option>
              <option value="pink">Pink &#x1F338;</option>
              <option value="sephpink">1wing &#x1FABD;</option>
              <option value="synthwave">Neon &#x1F303;</option>
            </select>
          </div>
        </nav>
    </header>
    <main class="main-frame">
      <section id="main" class="block main-content" role="main">
        {% block main %}
        {% if page.title %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
        {% if page.tags %}
        <div class="tags">
            <span>Posted in</span>
        {% for t in page.tags -%}
            <span class="tag"><a href="{{ pctagurl(t) }}">{{t}}</a>{% if not loop.last %}, {% endif %}</span>
        {%- endfor %}
        </div>
        {% endif %}

        {{ content|safe }}
        {% endblock %}
      </section>
    </main>
    <footer class="footer">
        {% block footer %}
        {% endblock %}
        {{ piecrust.debug_info|safe }}
      <div class="max-width">
        <p><a href="{{pcurl('about')}}">About this site</a> &ndash; {{ piecrust.branding|safe }}</p>
      </div>
    </footer>
  </div>
</body>
</html>
