
@font-face {
    font-family: 'regularbit';
    src: url('regularbit-webfont.woff2') format('woff2'),
         url('regularbit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kendiyaz';
    src: url('kendiyaz-webfont.woff2') format('woff2'),
         url('kendiyaz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mademoiselle';
    src: url('mademoiselle-webfont.woff2') format('woff2'),
         url('mademoiselle-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karenfat';
    src: url('karenfat-webfont.woff2') format('woff2'),
         url('karenfat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'iso8';
    src: url('iso8-webfont.woff2') format('woff2'),
         url('iso8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}