
@font-face {
    font-family: 'regularbit';
    src: url('fonts/regularbit-webfont.woff2') format('woff2'),
         url('fonts/regularbit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kendiyaz';
    src: url('fonts/kendiyaz-webfont.woff2') format('woff2'),
         url('fonts/kendiyaz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mademoiselle';
    src: url('fonts/mademoiselle-webfont.woff2') format('woff2'),
         url('fonts/mademoiselle-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'karenfat';
    src: url('fonts/karenfat-webfont.woff2') format('woff2'),
         url('fonts/karenfat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'iso8';
    src: url('fonts/iso8-webfont.woff2') format('woff2'),
         url('fonts/iso8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}