.photo {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  line-height: 0;
}

.photo .photo-img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.photo .hat {
  top: -50px;
  left: 30px;
  z-index: 1;
}

.photo .hand {
  top: 50px;
  left: -30px;
  z-index: 10;
  transition: transform 0.2s ease;
}

.photo .hand:hover {
  transform: scale(1.05);
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.05); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.05); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.05); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.05); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(1.05); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.05); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.05); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.05); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.05); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.05); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.05); }
}
