/* handshake.css */

.photo {
  position: relative;
  perspective: 600px;
  display: inline-block;
  width: 400px;
  height: 400px;
  line-height: 0;
}

.photo .hand {
  position: absolute;
  top: 40px;
  left: -40px;
  z-index: 10;
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
  

  transform: rotateY(40deg);
  transform-origin: left center;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.photo .hand:hover {
  animation: shakeForward 0.7s ease-in-out;
  transform: rotateY(0deg); 
}

@keyframes shakeForward {
  0% { 
    transform: rotateY(0deg) translateX(0px); 
  }
  10% { 
    transform: rotateY(0deg) translateX(2px) scale(1.02); 
  }
  20% { 
    transform: rotateY(0deg) translateX(-2px) scale(0.98); 
  }
  30% { 
    transform: rotateY(0deg) translateX(1px); 
  }
  40% { 
    transform: rotateY(0deg) translateX(-1px); 
  }
  50% { 
    transform: rotateY(0deg) translateX(0px); 
  }
  100% { 
    transform: rotateY(0deg) translateX(0px); 
  }
}

.photo .hat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
}
