$padding: 20px;
* {
	box-sizing: border-box;
}

#notice {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1050;

#notice .modal-dialog {
  position: absolute; /* allow manual position */
  margin: 0; /* remove bootstrap automatic centering margin */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body p {
    color: #99cccc;
    margin: 10px;
}

	.modal-dialog {
		margin: 2px;
		padding: 5px;
		background: #fff;
		position: relative;
		background-color: #000;
		background-clip: padding-box;
		border: 1px solid #003333;
		border-radius: 2px;
		outline: 0;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0.2, 0.5);
		box-shadow: 0 3px 9px rgba(0, 0, 0.2, 0.5);
		overflow: hidden;
	}

	@media (min-width: 768px) {
		.modal-dialog {
			width: 50%;
			max-width: 600px;
			margin: $padding auto;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		}
	}

	.modal-title {
		margin: $padding 0 0 0;
	}

	.btn {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 1px;
	}

	.btn-default {
		color: #333;
		background-color: #fff;
		border-color: #ccc;

		&:hover {
			color: #333;
			background-color: #e6e6e6;
			border-color: #003333;
		}
	}

	.btn-primary {
		color: #000;
		background-color: #669999;
		border-color: #003333;
		&:hover {
			color: #fff;
			background-color: darken(#669999, 15%);
			border-color: #003333;
		}
	}
}
