body {
    font-family: sans-serif;
    color: #FF481C;
    background: #063B76;
}

a {
    color: #083D78;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: #74AC00;
    }
}

#container {
    width: 640px;
    margin: 0 auto;
}